body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  flex-shrink: 0;
}

.calcContainer {
  display: flex;
  justify-content: center;
  background-color: #90a4ae;
  border-radius: 30px 30px 10px 10px;
  padding-bottom: 300px;
  height: 250px;
  width: 300px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 10px 10px #7b8a92;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 60px;
  gap: 10px;
  box-shadow: #394246;
  flex-shrink: 0;
}

.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgb(32, 32, 32);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  background-color: #394246;
  color: #b9c2c6;
  text-shadow: 2px 1px #000000;
  flex-shrink: 0;
}

#calcClear {
  grid-row: 3;
  grid-column: 4;
  color: rgb(255, 74, 74);
}

#calcAdd {
  grid-column: 2;
  grid-row: 6;
}

#calcMinus {
  grid-row: 6;
}

#calcEquals {
  grid-row: 6;
}

#calcMultiply {
  grid-row: 5;
}

#calcDivide {
  grid-row: 4;
}

#zero {
  grid-row: 6;
  grid-column: 1;
}

#one,
#two,
#three {
  grid-row: 3;
}

#four,
#five,
#six {
  grid-row: 4;
}

#seven,
#eight,
#nine {
  grid-row: 5;
}

.calcTop {
  display: flex;
  flex-shrink: 0;
}

#calcDisplay {
  display: flex;
  align-items: center;
  margin: 25px 20px 0px 20px;
  background-color: papayawhip;
  padding: 10px 40px 10px 40px;
  border-radius: 10px 10px 10px 10px;
  width: 150px;
  height: 40px;
  flex-shrink: 0;
}


