@font-face {
  font-family: "DSEG14ModernBold";
  src: url(font/DSEG14ModernMini-Regular.ttf);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  flex-shrink: 0;
  background-color: #8A7975;
  background: linear-gradient(#8A7975,
  #000000a6
  )
}

.calcContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #90a4ae;
  border-radius: 30px 30px 10px 10px;
  padding-bottom: 300px;
  height: 200px;
  width: 300px;
  flex-shrink: 0;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 10px 10px #7b8a92;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  margin-top: 50px;
  background-color: #30383b3a;
  padding: 10px;
  border-radius: 10px;
  gap: 6px;
  flex-shrink: 0;
}

.buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgb(32, 32, 32);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;

  background: #394246;
  color: #b9c2c6;
  text-shadow: 2px 1px #000000;
  flex-shrink: 0;
  font-size: xx-large;
}

#calcDecimal {
  grid-row: 3;
  grid-column: 4;
}

#calcUndo {
  grid-row: 2;
  grid-column: 3;
  color: #4da6ff;
}

#calcClear {
  grid-row: 2;
  grid-column: 4;
  color: rgb(255, 74, 74);
}

#calcAdd {
  grid-column: 2;
  grid-row: 6;
}

#calcMinus {
  grid-row: 6;
}

#calcEquals {
  grid-row: 6;
}

#calcMultiply {
  grid-row: 5;
}

#calcDivide {
  grid-row: 4;
}

#zero {
  grid-row: 6;
  grid-column: 1;
}

#one,
#two,
#three {
  grid-row: 3;
}

#four,
#five,
#six {
  grid-row: 4;
}

#seven,
#eight,
#nine {
  grid-row: 5;
}

.calcTop {
  display: flex;
  flex-shrink: 0;
}

#calcDisplay {
  display: flex;
  align-items: center;
  margin: 25px 20px 40px 20px;
  background-color: papayawhip;
  padding: 10px 90px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  width: 150px;
  height: 40px;
  flex-shrink: 0;
  font-family: "DSEG14ModernBold";
}


.buttons button:hover {background:#2e3538}
.active {
  transform: translateY(2px);
}
